.work{
  height: auto;
  width: 100%;
}
.wTopStyle{
  width: 100%;
  height: 300px;
}
.createWork{
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.createWork span{
  font-weight: 600;
  font-size: 28px;
  color: #484848;
}

.nameInput{
  width: 80%;
  margin: 30px 30px 0;
  padding-bottom: 10px;
  border-bottom: solid #c9c8c8;
}
.workDetail{
  margin-top: 40px;
}
.workDetail image{
  margin: 20px;
  width: 140px;
  height: 140px;
}
textarea{
  width: 80%;
  height: 200px;
  margin: 30px 30px 0;
  box-shadow: 0 0 5px 2px #d5d5d5;
}
.wButton{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 25%;
}
.wButton button{
  padding:10px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  width: 70%;
  height: 80px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #6253e1, #852D91);
  box-shadow: 0 4px 50px 0 rgba(194, 63, 199, 0.75);
  bottom: 20%;

}
