
.react-native-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('@assets/back.jpg'); /* 替换为你的图片路径 */
  background-size: cover; /* 让图片覆盖整个背景 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 防止图片重复 */
  margin: 0; /* 去除默认的 body 边距 */
  height: 100vh; /* 让 body 高度占满整个视口 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  color: #fff;
}

.headerLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerLogo .logo {
  height: 45px;
  width: 45px;
  margin: 10px;
}

.headerLogo span {
  font-size: 30px;
  font-weight: bold;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.header-nav a:hover {
  text-decoration: underline;
}

/* Main Section */
.main-content {
  text-align: center;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  /* 从页面三分之一开始 */
}

.main-title h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.main-title p {
  font-size: 20px;
  color: #ccc;
  /* 次要文本颜色 */
  max-width: 600px;
  margin:  20px 20px;
}

.main-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  width: 100%;
 justify-content: center;
}

.main-buttons button {
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(244, 237, 237);
  color: rgb(42, 41, 41);
  width: 200px;
  height: 60px;
  margin-right: 20px;
}

.start:hover {
  background-image: linear-gradient(to right, #6253e1, #852D91);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.know:hover{
  background-color: #b6b6b6;
}
