.loading{
  position: relative;
  margin-top: 200px;
  width: 100%;
  height: 600px;
}

.loadingLogo{
  position: relative;
  margin-left: 100px;
}
.logo{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 156px;
  right: 320px;
}
