<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cchf.back.mapper.MateMapper">
    <select id="getUsersByRoomId" resultType="cchf.back.dto.MateDto">
        select rur.uid , rur.uname , rur.logo
        from room_user_relation rur
        where rur.roomid = #{roomid}
    </select>

    <insert id="addUserByRoomId" >
        INSERT INTO room_user_relation (roomid, uid, uname, logo)
        VALUES (#{roomid}, #{mateDto.uid}, #{mateDto.uname}, #{mateDto.logo})
    </insert>

    <delete id="deleteUserByRoomIdAndUserId">
        DELETE FROM room_user_relation
        WHERE roomid = #{roomid} AND uid = #{uid}
    </delete>

    <select 
        id="getUserIdByRoomIdAndUserId" 
        resultType="cchf.back.entity.Mate">
        select roomid, memberid, membername
            from roommate
            where roomid = #{roomid} and memberid = #{userid}
    </select> 

    <insert id="addMateInfo">
    insert into 
    roommate
    (roomid, memberid, membername)
    VALUES
    (#{roomid}, #{userid}, #{membername})
    </insert>

    <delete id="deleteAllByRoomId">
        DELETE FROM roommate WHERE roomid = #{roomid}
    </delete>
</mapper>