.userSetting {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*padding: 20px;*/
    background-color: #001529;
    overflow: hidden;
}

/* 顶部样式 */
.userTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    color: #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.backButton{
    position: absolute;
    left: 0;
    cursor: pointer;
    color: #ddd;
    background-color: transparent;
    opacity: 0.5;
    width: 66px;
    height: 66px;
    margin-left: 20px;
}

.backButton svg{
    width: 36px;
    height: 36px;
}

.userTop span {
    font-size: 1.625em;
}

/* 每个选项样式 */
.Option {
    width: 666px;
    padding: 6px;
    background-color: #001529;
    color: #dddd;
    border-radius: 8px;
    border-color: white;
    font-size: 1em;
    /*box-shadow: 0 2px 5px rgb(255, 255, 255);*/
}

.Option h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.375em;
    margin-bottom: 2px;
}

.Option h3 button {
    color: #ddd;
}

.Option hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 5px 0;
}

/* 每个设置项 */
.Inform {
    display: flex;
    flex-direction: column; /* 使设置项垂直排列*/
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.125em;
}

.UserInfo {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;
    background-color: #001529;
    font-size: 1em;
}

/* 头像 */
.userLogo {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* 用户详情 */
.userDetails {
    flex: 1;
    margin-left: 10px;
    font-size: 1.375em;
}

.userDetails .spanHead {
    display: block;
    margin-bottom: 2px;
}

/* 编辑按钮 */
.editButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.InfoEdit {
    background-color: #001529;
    font-size: 1.325em;
}

/* 消息设置开关样式 */
.messageOption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.messageOption .spanHead ,
.fileOption  .spanHead,
.spanTip .spanHead{
    font-size: 1.125em;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.expandButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.DelOutBut button{
    background-color: #001529;
    width: 200px;
    height: 66px;
    font-size: 1.375em;
    font-weight: bold;
}

.hover1{
    /*margin-left: 26px;*/
    float: left;
    background-color: #f85757;
    color: #fff;
}
.hover1:hover{
    border: 1px solid #f85757;
}
.hover2{
    float: right;
    background-color:  #54f387;
    color: #fff;
}
.hover2:hover{
    border: 1px solid #54f387;
}


